* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

a {
    color: var(--link-color);
}

:root,
    :root.default {
        --bg-color: #1F202A;
        --bg-color-alt: #14141b;
        --bg-color-darker: #101116;
        --highlight-color: #61CE70;
        --highlight-color-rbg: 97, 206, 112;
        --highlight-color-alt: #7DE2A0;
        --text-color: #ffffff;
        --text-color-alt-bckg: #000000;
        --link-color: gold;
        --close-color: rgb(244, 61, 61);
    }
    :root.light_theme {
        --bg-color: #F1F1F6;
        --bg-color-alt: #E5E5E9;
        --bg-color-darker: #ceced1;
        --highlight-color: #33d048;
        --highlight-color-rbg: 51, 208, 72;
        --highlight-color-alt: #38b764;
        --text-color: #000000;
        --text-color-alt-bckg: #ffffff;
        --link-color: goldenrod;
        --close-color: rgb(244, 61, 61);
    }

    body {
        display: flex;
        flex-direction: column;
        color: var(--text-color);
        position: relative;
        overflow-y: hidden;
        background-color: var(--bg-color);
    }

    /* --------------------- Phone Version -----------------------*/ 
    header {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
        .theme {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
        .homeBtn {
            transition: 150ms ease-in-out;
        }
        .homeBtn:hover, .homeBtn:focus, .homeBtn::selection {
            transform: rotate(-25deg);
        }

    main {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        padding: 10px 5px 60px 5px;
    }
        .generations {
            font-size: 18px;
            padding-inline: 20px;
        }

        .pokemonList {
            width: 95%;
            height: 90%;
            max-width: 1500px;
            display: grid;
            padding: 1px;
            overflow-y: scroll;
        }

        .pokemon {
            text-transform: capitalize;
            background-color: var(--bg-color-darker);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;
            font-size: 18px;
            cursor: pointer;
        }
        .pokemon:nth-child(even) {
            background-color: var(--bg-color-alt);
        }
        .pokemon:hover {
            z-index: 2;
            outline: 1px solid var(--highlight-color);
        }

        .viewNav {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .viewBtn {
            font-size: 25px;
            padding: 5px;
            border-bottom: 2px solid transparent;
            transition: 100ms;
            cursor: pointer;
        }
        .listView {
            grid-template-columns: 1fr;
        }
        .gridView {
            grid-template-columns: 1fr 1fr;
        }
        .btn-selected {
            border-bottom: 2px solid var(--highlight-color);
        }

    footer {
        width: 100dvw;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        padding-block: 10px;
        background-color: var(--bg-color);
        z-index: 10;
    }
        .tag {
            display: flex;
            column-gap: 4px;
        }
            .tag p {
                opacity: .4;
            }
            .tag a {
                opacity: .4;
            }
            .tag a:hover, .tag a:focus {
                opacity: 1;
                color: var(--highlight-color);
            }


/* --------------------- Tablet Version -----------------------*/ 
@media screen and (width >= 725px) { 
    /* Header */
        .homeBtn, .homeBtn>img {
            width: 60px;
            height: 60px;
        }
        h1 {
            font-size: 60px;
        }
        .theme {
            font-size: 35px;
        }

    /* Main */
        .generations {
            font-size: 22px;
        }
        .gridView {
            grid-template-columns: repeat(auto-fill, 20%);
        }
}

/* --------------------- Laptop Version -----------------------*/ 
@media screen and (width >= 1200px) { 
    /* Header  */
        .homeBtn {
            left: 10px;
        }
        .homeBtn, .homeBtn>img {
            width: 80px;
            height: 80px;
        }
        h1 {
            font-size: 80px;
        }
        .theme {
            font-size: 45px;
        }

    /* Main */
        .generations {
            font-size: 25px;
        }
        .pokemon {
            padding: 15px;
            font-size: 25px;
        }
}