* {
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

a {
    color: var(--link-color);
}

:root,
    :root.default {
        --bg-color: #1F202A;
        --bg-color-alt: #1C1D27;
        --bg-color-darker: #101116;
        --highlight-color: #61CE70;
        --highlight-color-rbg: 97, 206, 112;
        --highlight-color-alt: #7DE2A0;
        --text-color: #ffffff;
        --text-color-alt-bckg: #000000;
        --link-color: gold;
        --close-color: rgb(244, 61, 61);
    }
    :root.light_theme {
        --bg-color: #F1F1F6;
        --bg-color-alt: #E5E5E9;
        --bg-color-darker: #ceced1;
        --highlight-color: #33d048;
        --highlight-color-rbg: 51, 208, 72;
        --highlight-color-alt: #38b764;
        --text-color: #000000;
        --text-color-alt-bckg: #ffffff;
        --link-color: goldenrod;
        --close-color: rgb(244, 61, 61);
    }

    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        position: relative;
    }

    /* --------------------- Phone Version -----------------------*/ 
    header {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
        .theme {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
        .homeBtn {
            transition: 150ms ease-in-out;
        }
        .homeBtn:hover, .homeBtn:focus, .homeBtn::selection {
            transform: rotate(-25deg);
        }

    main {
        width: 100dvw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 5px;
    }
        .generations {
            font-size: 18px;
            padding-inline: 20px;
        }

    footer {
        width: 100dvw;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        padding-block: 20px;
    }
        .tag {
            display: flex;
            column-gap: 4px;
        }
            .tag p {
                opacity: .4;
            }
            .tag a {
                opacity: .4;
            }
            .tag a:hover, .tag a:focus {
                opacity: 1;
                color: limegreen;
            }


/* --------------------- Tablet Version -----------------------*/ 
@media screen and (width >= 725px) { 
    /* Header */
        .homeBtn, .homeBtn>img {
            width: 60px;
            height: 60px;
        }
        h1 {
            font-size: 60px;
        }
        .theme {
            font-size: 35px;
        }

    /* Main */
        .generations {
            font-size: 22px;
        }
}

/* --------------------- Laptop Version -----------------------*/ 
@media screen and (width >= 1200px) { 
    /* Header  */
        .homeBtn {
            left: 10px;
        }
        .homeBtn, .homeBtn>img {
            width: 80px;
            height: 80px;
        }
        h1 {
            font-size: 80px;
        }
        .theme {
            font-size: 45px;
        }

    /* Main */
        .generations {
            font-size: 25px;
        }
}