.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
}
.card {            
    width: 80%;
    max-width: 350px;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    text-transform: capitalize;
    outline: 12px solid var(--link-color);
    background-color: var(--bg-color);
    animation: spin-3d 350ms ease-in-out forwards;
}
.card>img {
    width: 150px;
    height: 150px;
}
.card>h2 {
    font-size: 35px;
    text-align: center;
}
.card>ul {
    padding: 0;
}
.closeBtn {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    padding: 20px;
    font-size: 25px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    transition: 250ms ease-in-out;
    cursor: pointer;
}
.closeBtn:hover, .closeBtn:focus {
    background-color: var(--close-color);
}

@keyframes spin-3d {
    0% {
        transform: rotateY(0deg) scale(5%);
    }
    100% {
        transform: rotateY(360deg) scale(100%);
    }
}